.output__container {
    font-size: 62px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-left: 0;
    margin-right: auto;
    width: 80%;
    letter-spacing: 1px;
    
}

.output__text {
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
    font-weight: 900;
    font-style: italic;
    word-spacing: 1px;
    font-weight: bolder;
}

.output__span {
    color:hsl(259, 100%, 65%);
    font-weight: 900;
    font-weight: bolder;
}

@media screen and (max-width: 668px) {
    .output__container {
        font-size: 48px;
        width: 90%;
        
        
    }
}